
<% @daily_tasks.each do |task| %>
  <hr>
  <div class='daily-task'>
    <h2> <%= task.title %>: <%= task.value %> points</h2>
    <h3> <%= task.category %> </h3>
    <p>  <%= task.description %> </p>
    <p>  <%= task.created_at %> </p>
  </div>
  <hr>
<% end %>