<h4> Create a new task </h4>

<%= bootstrap_form_for :tasks, url: url_for(controller: 'tasks', action: 'create') do |f| %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.text_field :descrption, class: "form-control" %>
  <%= f.text_field :value, class: 'form-control' %>
  <%= f.text_field :category, class: 'form-control' %>

  <%= f.submit "Create" %>

<% end %>