<div id="day" class="tab-pane fade in active">
  <div class="dashboard-container">

            <div class="tab-title"><%= todays_date.strftime("%A") %> | <span> <%= todays_date.strftime("%B")  %> <%= todays_date.strftime("%d") %>, <%= todays_date.strftime("%Y") %></span>
            </div>



    <div class="container-fluid">
     <div class="row tasks-row">
      <div class='col-md-4 tasks-list'>
       <div class="page-header">Uncompleted Tasks </div>
              <% @daily_tasks.each do |task| %>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <%= task.title %> <span class="points">| <%= task.value %>pts. |</span>
                  </div>
                  <div class="panel-footer">
                    <%= task.description %>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                    </p>
                  </div>
                </div>
             <% end %>

        </div>
      </div>
    </div>
  </div>
</div>