<div id="day" class="tab-pane fade in active">
  <div class="dashboard-container">

            <div class="tab-title"><%= todays_date.strftime("%A") %> | <span> <%= todays_date.strftime("%B")  %> <%= todays_date.strftime("%d") %>, <%= todays_date.strftime("%Y") %></span>
            </div>



    <div class="container-fluid">
     <div class="row tasks-row">
      <div class='col-md-4 tasks-list'>
        <div class="page-header">Tasks <%= link_to 'add', '#new_task_modal', 'data-toggle' => 'modal' %> </div>
              <% @daily_tasks.each do |task| %>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <%= task.title %> | <%= task.category %> <span class="points">| <%= task.value %>pts. |</span>
                  </div>
                  <div class="panel-footer">
                    <%= task.description %>

                  </div>
                </div>
             <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "modal" %>

