<div class='row'>


  <div class='col-md-4'>

  </div>

  <div class='col-md-4'>
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_field :username %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Ready"%>
    <% end %>
  </div>

  <div class='col-md-4'>

  </div>

</div>